<h1> New Event <h1>

  <%= form_with model: @event do |form| %>
    <%if @event.errors.any? %>
      <ul>
        <% @event.errors.full_messages.each do | message | %>
          <li><%= message %></li>
        <%end%>
      </ul>
    <%end%>
  <div>
    <%= form.label :date %>
    <%= form.date_select :date %>
  </div>
  <div>
    <%= form.label :location %>
    <%= form.text_field :location %>
  </div>
  <%= form.submit %>
  <%end%>
